/* global styles */

img {
  max-width: 100%;
}

/* Mobile-first styles here
   ========================================================================== */

/* list of principles */
.principal-list {
  margin: 0;
  padding-left: 20px;
}

.principal-list_title {
  font-size: 1em;
}

.principal-list ul {
  list-style: square;
}

/* footer */
.site-footer {
  font-size: 0.875em;
  line-height: 1.5;
}

/* Posts page */
.post-list,
.post-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-list li {
  line-height: 1.8;
}

.rss-subscribe {
  margin-top: 3em;
}

.post-list .post-meta::before {
  content: '• ';
}


/* Small - Targets small screens
   ========================================================================== */

@media (--breakpoint-small) {
  .cover-image img {
    display: none;
  }
}

/* Medium and Up - Targets everything larger than mobile
   ========================================================================== */

@media (--breakpoint-medium-and-up) {
  .cover-image img {
    float: left;
    padding-right: 20px;
  }


}




/* Medium - only targets 1st breakpoint. Styles
   ========================================================================== */

@media (--breakpoint-medium) {

}




/* Large - only targets 2nd breakpoint.
   ========================================================================== */

@media (--breakpoint-large) {

}
